<div class="col-sm-12 detpost">
    <div class="title">{{title}}</div>
    <div class="image">
        <img src="/public/{{src}}" alt="{{title}}">
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="timestamp">{{timestamp}}</div>
            <div class="description">
                {{description}}
            </div>
        </div>
    </div>
</div>