<div class="col-sm-12 spost">
    <div class="col-sm-6">
        <div class="image">
            <a href="photodetail/{{this.id}}">
                <img src="/public/{{this.src}}" alt="{{this.title}}">
            </a>
            <div class="timestamp">Posted: {{this.timestamp}}</div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="details">
            <div class="title">{{this.title}}</div>
            <br/>
            <div class="description">{{this.description}}</div>
        </div>
    </div>
</div>
